<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Drawbridge</title>
    <link rel="icon" type="image/x-icon"  th:href="@{/img/favicon.ico}">
    <link rel="stylesheet" th:href="@{/reference/element/index.css}">
</head>
<body style="margin: 0">
<div id="container" style="background: lightgray;height: 100vh">
    <div style="display: flex;justify-content: center;padding: 5% 0">
        1234567
    </div>
</div>
</body>
<script th:src="@{/reference/axios/axios.min.js}"></script>
<script th:src="@{/reference/vue/vue.js}"></script>
<script th:src="@{/reference/element/index.js}"></script>
<script th:src="@{/asset/supervision.js}"></script>
</html>